*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(34, 34, 34);
    font-family: sans-serif;
    /* filter: blur(2px); */
}
/*html {
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)), url(./image/bg_cover.jpg);
    background: url(./image/bg_cover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
.bg{
    overflow: hidden;
    width: 550px;
    /* height: 400px; */
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(29, 74, 141);
}
.bg .logo{
    overflow: hidden;
    width: 200px;
    height: 200px;
    padding: 3px;
    /* background-color: aqua; */
    margin: 20px auto;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
}
.bg .logo img{
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* title */
.bg .title{
    margin: 20px 10px;
    text-align: center;
}
.bg .title h1{
    color: beige;
    font-weight: 100;
    font-family: sans-serif;
}
.bg .title h4{
    color: rgb(255, 255, 81);
    font-family: sans-serif;
    font-weight: 100;
    font-family: sans-serif;
}
/* icon-social-media */
.social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(29, 74, 141); */
}
.social-media .icon{
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.social-media a img{
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .2s;
}
.social-media a img:hover{
    transform: scale(1.3);
}
/* respornsive */

@media (max-width: 585px) {
    .bg{
        overflow: hidden;
        width: 100%;
        max-width: 90%;
        border-radius: 20px;
        background-color: rgb(29, 74, 141);
    }
    .bg .logo{
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin: 20px auto;
        border-radius: 50%;
    }
    .social-media a img{
        width: 35px;
        height: 35px;
        text-align: center;
        transition: .3s;
    }
    .social-media a img:hover{
        transform: scale(1.3);
        opacity: 80%;
    }
}
@media (max-width: 370px){
    .bg .logo{
        overflow: hidden;
        width: 120px;
        height: 120px;
        margin: 20px auto;
        border-radius: 50%;
    }
    .bg .title h1{
        color: beige;
        font-weight: 100;
        font-size: 26px;
        font-family: sans-serif;
    }
    .social-media a img{
        width: 24px;
        height: 24px;
        text-align: center;
        transition: .3s;
    }
}
